# Core functionality - changes here should be rare!
/src/app.py                   @Ilhanimani24
/src/backend/database.py      @Ilhanimani24
/src/backend/routers/auth.py  @Ilhanimani24

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ilhanimani24
